.Navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
}
ul.Navigation a {
    padding-top: 80px;
    display: block;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}
#logo{
    margin-right: 1200px;
}
ul.Navigation a:hover{
    scale: 1.1;
    transition: 0.8s;
}
