.Navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
}
nav.Navigation{
    position: sticky; /* Trying to make it stick but doesn't work yet*/
    top: 0;
    z-index: 1000;
    background-color: whitesmoke;
}
ul.Navigation a:hover{
    scale: 1.1;
}
ul.Navigation{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
ul.Navigation li a {
    display: block;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.5s ease-in-out; /* Make the links transition smoothly in and out*/
}
#logo{
    margin-right: 1200px; /* Space between the logo and the Nav links*/
}


