body{
    min-height: 100vh;
    margin:0;
    padding:0;
    display:grid;

    grid-template-columns:200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header header"
    "sidebar main "
    "sidebar footer";
    font-family: "IBM Plex Mono",monospace ;
    background-color: whitesmoke;
    
}
header{
    grid-area: header;
    display:flex;
    justify-content: space-between; 
    background-color:  rgb(6, 49, 63);
    color:white;
     font-size: 0.9rem
  
}
h1{
    font-family: None;
}
.navigation{
    grid-area:sidebar;
    background-color: rgb(6, 49, 63);
    width: fit-content;
    height: 100%;

}
.navigation a {
    color: white;
    text-decoration: none;
}
.navigation ul{
    list-style: none;
}
main{
    grid-area:main;
    background-color: white;
    padding: 25px;
}
.cards-container{
    display: flex;
    margin-bottom: 30px;
}
.card{
flex:1;
padding: 25px 20px;
box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
border-radius: 10px;
margin:15px;
width:220px;
text-align:center;
cursor: pointer;
background-color: white;
transition: 0.3s;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card h3 {
  color: #0077b6;
  margin-bottom: 10px;
}
.tafile{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.tafile table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
}
.tafile th {
    background-color: rgb(6, 49, 63);;
    color: white;
    text-align: left;
    padding: 12px 15px;
}
.tafile td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
}
.tafile tr:hover {
    background-color: #f5f9ff;
}
footer{
    grid-area: footer; 
    font-size: 0.9rem;
}
      
           